:root {
  --var-gray-bg: rgb(68, 68, 68);
  --color-background: black;
}

body {
  // background-color: black;
}

.radix-themes {
  // position: absolute;
  // background-image: url("/static/opoy7.jpg");
  // background-size: cover;

  &::after {
    z-index: -1;
    background: #121212;
    background-size: cover, 200px 200px;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
.button,
.cursor {
  &:hover {
    cursor: pointer;
  }
}

.fadeIn {
  animation: fadeInBelow 5s ease forwards;
}

.shadow-top {
  &-right {
    -webkit-box-shadow: 1rem -1rem 0px 0px var(--accent-9);
    box-shadow: 1rem -1rem 0px 0px var(--accent-9);

    @media (min-width: 1200) {
      -webkit-box-shadow: 1.5rem -1.5rem 0px 0px var(--accent-9);
      box-shadow: 1.5rem -1.5rem 0px 0px var(--accent-9);
    }
  }

  &-left {
    -webkit-box-shadow: 1rem -1rem 0px 0px var(--accent-9);
    box-shadow: -1rem -1rem 0px 0px var(--accent-9);

    @media (min-width: 1200) {
      -webkit-box-shadow: 1.5rem -1.5rem 0px 0px var(--accent-9);
      box-shadow: -1.5rem -1.5rem 0px 0px var(--accent-9);
    }
  }
}

.txt-invert {
  color: white;
}

.txt-primary {
  color: black;
}

.txt-italic {
  font-style: italic;
}

// To handle the fade-in animations
html,
body {
  overflow-x: hidden;
}

.nav-correct {
  margin-top: 8rem;
}

h1.rt-Heading {
  font-family: "Tai Heritage Pro", serif;
  font-weight: 700;
  font-style: normal;
}

.rt-Heading,
.rt-Text {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.gold-border {
  border: 1px solid var(--gold-9);
}
.text-gold {
  color: var(--gold-9);
}

.bg-gold {
  background-color: (--gold-9);
}
